<app-header></app-header>
<section class="account height-top">
  <div class="container">
    <div class="account__content">
      <div class="row account__heading-row align-items-center">
        <div class="col-6">
          <h4 class="account__header fw-bolder mb-0">Profile details</h4>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <button class="btn btn-secondary px-5 py-2" (click)="handleLogout()">
            Logout
          </button>
        </div>
      </div>
      <div class="account__form-holder">
        <div class="row mb-4">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
            >Avatar</label
          >
          <div class="col-lg-8">
            <img
              src="../../../assets/blank.png"
              alt="Avatar"
              class="account__avatar"
            />
            <!-- <img
              [attr.src]="avatarImage"
              alt="Avatar"
              class="account__avatar"
            /> -->
          </div>
        </div>
        <div class="row mb-4">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
            >Email</label
          >
          <div class="col-lg-8">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid disabled"
              value="{{ account.email }}"
              disabled
            />
          </div>
        </div>
        <div class="form">
          <div class="row mb-4">
            <label class="col-lg-4 col-form-label required fw-bold fs-6"
              >Full Name</label
            >
            <div class="col-lg-8">
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                placeholder="Enter full name"
                value="{{ account.name }}"
                #name
              />
            </div>
          </div>
          <div class="row mb-4">
            <label class="col-lg-4 col-form-label required fw-bold fs-6"
              >Age</label
            >
            <div class="col-lg-8">
              <input
                type="number"
                class="form-control form-control-lg form-control-solid"
                placeholder="Enter age"
                value="{{ account.age }}"
                #age
              />
            </div>
          </div>
          <button
            class="btn btn-primary account__submit mb-3"
            (click)="updateAccount(name.value, age.value)"
            *ngIf="!loading"
          >
            Save Changes
          </button>
          <button
            class="btn btn-primary account__submit loading-btn"
            *ngIf="loading"
          >
            <div class="lds-ring">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </button>
          <div
            class="alert alert-danger text-center"
            role="alert"
            *ngIf="errorMessage"
          >
            {{ errorMessage }}
          </div>
          <div
            class="alert alert-success text-center"
            role="alert"
            *ngIf="successMessage"
          >
            {{ successMessage }}
          </div>
        </div>
        <hr />
        <button
          class="btn btn-danger account__delete mb-3"
          (click)="handleModalOpen()"
        >
          Delete account
        </button>
      </div>
    </div>
  </div>
</section>

<div
  class="account-delete{{ deleteModalActive ? ' active' : '' }}"
  (click)="handleModalClose()"
>
  <div class="account-delete__content" (click)="preventClose($event)">
    <div class="account-delete__icon"><i class="fas fa-trash-alt"></i></div>
    <div class="account-delete__text">
      Are you sure you want to delete your account?
    </div>
    <div class="account-delete__buttons">
      <div class="btn btn-light" (click)="handleModalClose()">No</div>
      <button class="btn btn-danger" (click)="handleDelete()">Yes</button>
    </div>
  </div>
</div>
