<div class="task-wrapper">
  <div class="task completed-{{ task.completed }} mb-3">
    <div class="task__info">
      <div class="task__completed" (click)="updateTask()">
        <div *ngIf="task.completed; then thenBlock; else elseBlock"></div>
        <ng-template #thenBlock>
          <img src="../../../assets/icons/checked.svg" />
        </ng-template>
        <ng-template #elseBlock
          ><img src="../../../assets/icons/unchecked.svg" />
        </ng-template>
      </div>
      <div class="task__description">{{ task.description }}</div>
    </div>
    <div class="task__right">
      <div class="task__date">
        Updated: {{ dayjs(task.updatedAt).format("DD. MM. YYYY.") }}
      </div>
      <div class="task__delete-btn" (click)="openDeleteModal()">
        <i class="fas fa-trash-alt"></i>
      </div>
    </div>
  </div>
</div>

<div
  class="task-delete{{ deleteModalActive ? ' active' : '' }}"
  (click)="handleModalClose()"
>
  <div class="task-delete__content" (click)="preventClose($event)">
    <div class="task-delete__icon"><i class="fas fa-trash-alt"></i></div>
    <div class="task-delete__text">
      Are you sure you want to delete this task?
    </div>
    <div class="task-delete__buttons">
      <div class="btn btn-light" (click)="handleModalClose()">No</div>
      <button class="btn btn-danger" (click)="handleDelete()">Yes</button>
    </div>
  </div>
</div>
