<div class="task-wrapper">
  <div class="task completed-{{ task.completed }} mb-3">
    <div class="task__info">
      <div class="task__completed" (click)="updateTask('', false)">
        <div *ngIf="task.completed; then thenBlock; else elseBlock"></div>
        <ng-template #thenBlock>
          <img src="../../../assets/icons/checked.svg" />
        </ng-template>
        <ng-template #elseBlock
          ><img src="../../../assets/icons/unchecked.svg" />
        </ng-template>
      </div>
      <div class="task__description">{{ task.description }}</div>
    </div>
    <div class="task__right">
      <div class="task__date">
        {{ dayjs(task.updatedAt).format("DD. MMM.") }}
      </div>
      <div class="task__edit-btn" (click)="toggleModal()" title="Edit task">
        <i class="fas fa-pencil-alt"></i>
      </div>
      <div
        class="task__delete-btn"
        (click)="openDeleteModal()"
        title="Delete task"
      >
        <i class="fas fa-trash-alt"></i>
      </div>
    </div>
  </div>
</div>
<div
  class="task-edit-modal{{ editModalActive ? ' active' : '' }}"
  (click)="toggleModal()"
>
  <div class="task-edit-modal__content" (click)="preventClose($event)">
    <div class="task-edit-modal__close" (click)="toggleModal()">
      <i class="fas fa-times"></i>
    </div>
    <div class="task-edit-modal__icon"><i class="fas fa-tasks"></i></div>
    <div class="mb-4 fs-4">Edit task</div>
    <div class="input-group mb-3">
      <textarea
        class="form-control"
        placeholder="Enter task description"
        aria-label="Task"
        value="{{ task.description }}"
        rows="5"
        #description
      ></textarea>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <button
      class="btn btn-success"
      *ngIf="!loading"
      (click)="updateTask(description.value, true)"
    >
      Edit
    </button>
    <button class="btn btn-success loading-btn" *ngIf="loading">
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </button>
  </div>
</div>

<div
  class="task-delete{{ deleteModalActive ? ' active' : '' }}"
  (click)="handleModalClose()"
>
  <div class="task-delete__content" (click)="preventClose($event)">
    <div class="task-delete__icon"><i class="fas fa-trash-alt"></i></div>
    <div class="task-delete__text">
      Are you sure you want to delete this task?
    </div>
    <div class="task-delete__buttons">
      <div class="btn btn-light" (click)="handleModalClose()">No</div>
      <button class="btn btn-danger" (click)="handleDelete()">Yes</button>
    </div>
  </div>
</div>
