main {
  background-image: url("../assets/login-bg.png");
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  background-attachment: fixed;
}
